html {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	color: #e4e3e3;
	text-decoration: none;
}

body, input {
	color: #e4e3e3;
	background-color: #000;
}

@font-face {
	font-family: courier_regular;
	src: url("../others/Consolas.ttf");
}

* {
	padding: 0;
	margin: 0;
	font-family: consolas, monospace;
}

body {
	overflow-x: hidden;
}

input {
	outline: 0;
	border: none;
}

td {
	padding: 3px;
}

hr {
	margin-top: 15px;
	margin-bottom: 15px;
	border-style: dashed;
}

pre {
    font-size: 1.15em;
}

.box {
	background-color: transparent;
	padding: 15px;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.rdvcorshine{
	padding-bottom: 4px;
}
.container {
	position: fixed;
	top: 9%;
	left: 6%;
	font-size: 1em;
}
#typing {
	color: #e4e3e3;
	margin-left: 0.65pc;
	padding-top: 1em;
	font-size: 1em;
}

.main {
	overflow: hidden;
}

.background {
	background: url('../others/boxes.gif');
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -3;
}

#pattern, #background {
	background: url('../others/boxes.gif');
	position: absolute;
	width: 100%;
	height: 100%;
}

#background {
	z-index: -2;
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 135%;
	min-height: 110%;
	width: auto;
	height: auto;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	overflow: hidden;
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}
::-webkit-scrollbar {
	width: 0;
}
ul{
	display: flex;
	list-style: none;
}
li{
	padding: 10px 0px 2px 15px;
}
#footer{
	margin: 0;
	padding: 0;
}
.link{
	text-decoration: none;
	color: #e4e3e3;
	border-bottom: 2px solid #e4e3e3;
	padding-bottom: 2px;
}
.link:hover, .link:focus{
	text-decoration: none;
	color: #e4e3e3;
	border-bottom: 2px solid #be60d1;
	padding-bottom: 3px;
}
.nav{
	font-size: 1.15em
}

.a404:hover, .a404:focus{
	text-decoration: none;
	border-bottom: 2px solid #be60d1;
	padding-bottom: 2px;
}
.kontak{
	position: absolute;
	padding: 5px;
	bottom: 0;
	font-size: 2em;
}
.kontak a:hover{
	color: #ff00dd;
}
